<!doctype>
<html>
<head>
<title>Manage Access Control</title>
<script src="js/jquery-3.5.0.min.js"></script>	
<script src="js/preload.js"></script>
<script src="js/basic-functions.js"></script>
<script src="js/edit-text.js"></script>
<link href="css/body.css" media="all" rel="stylesheet" type="text/css" />
<link href="css/organization.css" media="all" rel="stylesheet" type="text/css" />


<style></style>

</head>
<body>
	<table style="height:100%">
	<tr><td>
		<div class="left-size">
			<div class="left-side-menu" id="organizations">Organizations</div>
			<div class="left-side-menu" id="clients">Clients</div>
		</div>
	</td><td>
		<div id="body-panel"></div>
	</td></tr>
	</table>

<!-- all onload functions -->
<script src="js/organization.js"></script>

</body>
</html>
